<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <!-- 引入Vue.js -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 準備好一個容器 -->

    <div id="root">
        <h2>人員列表</h2>
        <ul>
            <!-- <li v-for="person in persons">姓名-年齡</li> -->
            <li v-for="person in persons" :key="person.id">{{person.name}}-{{person.age}}</li>
            
        </ul>
        
    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false; // 以阻止 Vue 在啟動時生成生產提示。

        const vm = new Vue({
            el: '#root',
            data: {
                persons:[
                    {id:'001',name:'John',age:25},
                    {id:'002',name:'Mary',age:30},
                    {id:'003',name:'Tom',age:28}
                ]
            }
        });
    </script>
</body>
</html>