<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表過濾</title>
    <!-- 引入Vue.js -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 準備好一個容器 -->

    <div id="root">
        <h2>人員列表</h2>
        <input type="text" placeholder="請輸入姓名" v-model="keyWord">
        <button @click="sortType=2">年齡升序</button>
        <button @click="sortType=1">年齡降序</button>
        <button @click="sortType=0">原順序</button>
        <ul>
            <!-- <li v-for="person in persons">姓名-年齡</li> -->
            <li v-for="(p, index) in filPersons" :key="p.id">{{p.name}}-{{p.age}}-{{p.sex}}</li>
            
        </ul>
        
    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false; // 以阻止 Vue 在啟動時生成生產提示。

            //用computed來實現搜索
            const vm = new Vue({
            el: '#root',
            data: {
                keyWord: '',
                sortType:0 , //0原順序 1年齡降序 2年齡升序
                persons:[
                    {id:'001',name:'馬冬梅',age:25,sex:'女'},
                    {id:'002',name:'周冬雨',age:30,sex:'女'},
                    {id:'003',name:'周杰倫',age:28,sex:'男'},
                    {id:'004',name:'溫兆倫',age:21,sex:'男'}
                ],
                
            },            
            computed: {
                filPersons(){
                    
                    const  arr = this.persons.filter((p)=>{
                        return p.name.indexOf(this.keyWord) !== -1;
                    })
                    // 判斷是否需要排序  0為false 不進入排序判斷
                    if(this.sortType){
                        arr.sort((p1, p2 )=>{
                            return this.sortType === 1? p2.age - p1.age : p1.age - p2.age;
                        })
                    }
                    return arr;
                }
            }       
        });
    </script>
</body>
</html>