<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表過濾</title>
    <!-- 引入Vue.js -->
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <!-- 準備好一個容器 -->

    <div id="root">
        <h2>人員列表</h2>
        <button @click="updateMei">更新馬冬梅的資料</button>
        <ul>
            <!-- <li v-for="person in persons">姓名-年齡</li> -->
            <li v-for="(p, index) in persons" :key="p.id">{{p.name}}-{{p.age}}-{{p.sex}}</li>
            
            
        </ul>
        
    </div>


    <script type="text/javascript">
        Vue.config.productionTip = false; // 以阻止 Vue 在啟動時生成生產提示。

            //用computed來實現搜索
            const vm = new Vue({
            el: '#root',
            data: {               
                persons:[
                    {id:'001',name:'馬冬梅',age:25,sex:'女'},
                    {id:'002',name:'周冬雨',age:30,sex:'女'},
                    {id:'003',name:'周杰倫',age:28,sex:'男'},
                    {id:'004',name:'溫兆倫',age:21,sex:'男'}
                ]
                
            },
            methods: {
                updateMei(){
                    // this.persons[0].name = '馬老師'; // 可以
                    // this.persons[0].age = 50;
                    // this.persons[0].sex = '男';
                    this.persons[0] = {id:'001',name:'馬老師',age:50,sex:'男'} // 不能
                }            
            }
        });
    </script>
</body>
</html>